/* CSS Document */
* {
padding : 0;
margin : 0;
}
.container {
padding : 60px;
}
p.subheader {
font-family : 'Tangerine', serif;
font-size : 1.2em;
font-weight : 300;
color : #676767;
letter-spacing : 0.1em;
text-align : center;
margin : auto;
flex : 1;
}
button {
padding : 7px;
transition-duration : 0.4s;
background-color : white;
color : black;
border : #e7e7e7 solid 2px;
}
button:hover {
background-color : black;
color : white;
}
header {
margin : auto;
display : flex;
background-color : #4d4d4d;
	color: #fff;
flex-direction : row;
align-items : center;
align-content : space-between;
justify-content : center;
}
header img {
flex : 1;
float : left;
margin-right : 10px;
padding : 8px 10px;
}
header nav {
flex : 1;
margin-right : 10px;
padding : 8px 10px;
}
header nav ul {
float : right;
}
header nav ul li {
margin : auto;
display : inline;
}
header nav ul li a {
color : white;
padding : 0 10px;
list-style : none;
text-decoration : none;
}
.container-banner {
width : 100%;
background-image : url('img/landscapephotography/landscapephotography446.jpg');
background-position : center;
background-repeat : no-repeat;
background-size : cover;
min-height : 450px;
}
.container-banner .Banner {
display : flex;
justify-content : center;
align-self : center;
height : 650px;
flex-direction : column;
background-color : rgba(254, 255, 255, 0.8);
	color: #000;
}
.container-banner .Banner h2 {
font-family : 'Tangerine', serif;
font-size : 2.4em;
font-weight : 500;
letter-spacing : 0.3em;
margin : 0 auto;
text-transform : uppercase;
color : #000;
}
.container-banner .Banner p {
font-family : 'Tangerine', serif;
font-size : 1.2em;
font-weight : 300;
color : #000;
letter-spacing : 0.1em;
margin : 0 auto;
}
.container-banner .Banner .icon-scrol {
color : #000;
letter-spacing : 0.3em;
margin : 0 auto;
text-transform : uppercase;
position : relative;
top : 125px;
}
.container-banner .Banner .text {
color : #676767;
margin : 0 auto;
text-transform : uppercase;
position : relative;
top : 125px;
}
.headingspace {
padding-top : 90px;
}
.about {
width : 100%;
padding-bottom : 55px;
overflow : visible;
display : flex;
flex-direction : column;
background-color : white;
	color: #000;
}
.about h2 {
font-family : 'Tangerine', serif;
font-size : 2.4em;
font-weight : 500;
letter-spacing : 0.3em;
text-transform : uppercase;
text-align : center;
margin : auto;
flex : 1;
}
.about p.deux-col {
text-align : justify;
column-rule : #ddd 1px dotted;
columns : 2 200px;
column-gap : 4em;
margin-top : 80px;
width : 70%;
margin : auto;
flex : 2;
justify-content : center;
align-items : center;
padding : 80px 80px 0;
}
.team {
display : flex;
flex-wrap : wrap;
flex-direction : row;
justify-content : space-between;
width : 100%;
padding-bottom : 55px;
overflow : visible;
align-items : center;
}
.team .right img {
margin : auto;
width : 100%;
}
.team .right {
flex : 1;
padding : 15px;
margin : auto;
}
.team button {
align-self : flex-end;
}
.team article h3 {
font-family : 'Tangerine', serif;
font-size : 1.4em;
font-weight : 500;
letter-spacing : 0.3em;
text-transform : uppercase;
text-align : center;
margin : auto;
margin-top : 20px;
}
.team article p {
margin : 20px auto;
text-align : center;
}
.team button {
box-shadow : 0 0 39px -10px rgb(203, 205, 205) inset;

}
.team article ul {
list-style : none;
margin : auto;
text-align : center;
}
.ctabottom {
color : #000;
text-align : center;
justify-content : center;
display : flex;
align-items : center;
background : linear-gradient(rgba(255, 255, 250, 0.7), rgba(255, 255, 255, 0.5)), url('img/bale/journee%20a%20ball-384.jpg');
background-position : center;
background-size : cover;
background-repeat : no-repeat;
padding-top : 120px;
padding-bottom : 120px;
flex-direction : column;
}
.ctabottom h4 {
margin : auto;
flex : 1 1 100%;
font-family : 'Tangerine', serif;
font-size : 2.4em;
font-weight : 500;
letter-spacing : 0.3em;
text-transform : uppercase;
}
.ctabottom p {
margin : auto;
flex : 1 1 100%;
}
.ctabottom:hover {
color : #fff;
background : linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url(img/bale/journee%20a%20ball-384.jpg);
}
.ctabottom button {
box-shadow : 0 0 39px -10px rgb(203, 205, 205) inset;
	margin-top: 15px;
}
.containerrapper {
padding : 80px 0;
display : flex;
flex-wrap : wrap;
flex-direction : row;
}
.service-container {
background-color : rgba(233, 233, 234, 0.29);
width : 100%;
}
.service h3 {
font-family : 'Tangerine', serif;
font-size : 2.4em;
font-weight : 500;
letter-spacing : 0.3em;
text-transform : uppercase;
text-align : center;
padding : 20px 0;
margin : auto;
}
.service p {
font-family : 'Tangerine', serif;
font-size : 1.2em;
font-weight : 300;
color : #676767;
text-align : center;
padding : 10px;
flex : 0 0;
flex-basis : 400px;
margin : auto;
}
.service {
box-shadow : 0 0 8px 0 rgba(0, 0, 0, 0);
transition : 0.3s;
display : flex;
padding : 16px 0;
justify-content : space-between;
align-content : center;
align-items : center;
}
.service:hover {
box-shadow : 6px 6px 16px 0 rgba(0, 0, 0, 0.3);
background-color : #fff;
}
.service img {
border-radius : 10px;
padding : 6px 16px;
width : 25%;
}
.service .over {
padding : 15px 16px;
flex : 1 1 50%;
}
.service-container h2 {
font-family : 'Tangerine', serif;
font-size : 2.4em;
font-weight : 500;
letter-spacing : 0.3em;
text-transform : uppercase;
text-align : center;
}
#work {
width : 100%;
}
#work div {
display : flex;
justify-content : space-between;
flex-wrap : wrap;
margin : auto 7px;
}
#work div .work-row {
flex-basis : 272px;
flex : 1 1 10%;
padding : 25px 0;
padding : 5px;
margin : 10px 0;
}
.work-row img {
flex : 1;
border-radius : 5px;
border : #ddd solid 1px;
	    width: 100%;
    height: 100%;
}
#work h2 {
font-family : 'Tangerine', serif;
font-size : 2.4em;
font-weight : 500;
letter-spacing : 0.3em;
text-transform : uppercase;
text-align : center;
margin-top : 80px;
flex : 1 1 100%;
}
#work h4 {
padding : 15px 0;
flex : 1 1 100%;
}
#work .subheader {
padding-bottom : 55px;
}
.contact-container h2 {
font-family : 'Tangerine', serif;
font-size : 2.4em;
font-weight : 500;
letter-spacing : 0.3em;
text-transform : uppercase;
text-align : center;
margin-top : 80px;
flex : 1 1 100%;
}
.contact {
display : flex;
justify-content : center;
height : 370px;
margin-top : 80px;
align-items : center;
}
.contact .left {
flex : 1 1 45%;
text-align : right;
align-self : center;
background-color : #ccc;
background : rgba(0, 0, 0, 0.55);
padding : 60px 20px;
color : #fff;
border : rgba(0, 0, 0, 0.05) solid 1px;
border-right : none;
}
.contact .right {
flex : 1 1 45%;
text-align : left;
align-self : center;
background-color : #ccc;
background : rgba(217, 217, 217, 0.35);
padding : 60px 20px;
color : #000;
border : rgba(0, 0, 0, 0.05) solid 1px;
border-left : none;
}
address {
padding-top : 15px;
padding-bottom : 35px;
}
form {
margin : 0;
padding : 0;
}
form .container {
position : relative;
}
form label {
bottom : 8px;
color : #4d4d4d;
cursor : pointer;
display : block;
font-size : 0.875rem;
font-weight : normal;
line-height : 1.5;
margin-bottom : 0;
}
form label span {
color : #f00;
}
form .section input[type="text"], form .section input[type="date"], form .section input[type="datetime"], form .section input[type="number"], form .section input[type="search"], form .section input[type="time"], form .section input[type="url"], form .section input[type="email"], form .section textarea, form .section select {
margin : 8px 0;
box-sizing : border-box;
border : none;
border-bottom : 2px solid rgba(0, 0, 0, 0.21);
background-color : rgba(179, 179, 179, 0.3);
color : white;
width : 100%;
padding : 12px;
}
form .section input[type="text"]:focus, form .section input[type="date"]:focus, form .section input[type="datetime"]:focus, form .section input[type="number"]:focus, form .section input[type="search"]:focus, form .section input[type="time"]:focus, form .section input[type="url"]:focus, form .section input[type="email"]:focus, form .section textarea:focus, form .section select:focus {
box-shadow : 0 0 8px #88D5E9;
border : #88D5E9 solid 1px;
color : black;
background-color : rgba(179, 179, 179, 0.1);
transition-duration : 1s;
}
footer {

color : #fff;
margin : 0;
font-family : 'Tangerine', serif;
padding : 1em;
height : 57px;
line-height : 57px;
background-color : black;
clear : left;
text-align : center;
}
/*             Iphone 5					*/
@media screen and (max-width: 720px) {
* {
padding : 0;
margin : 0;
}
.container {
padding : 10px;
}
header {
margin : auto;
display : flex;
background-color : #4d4d4d;
	color: #fff;
flex-direction : column;
align-items : center;
align-content : space-between;
justify-content : center;
}
	header img {
width: 300px;
		height: 150px;
}
header nav ul li {
font-size: 2.2em;
    /* display: block; */
    padding: 5px;
}	
.container-banner {

	background-image : url('img/landscapephotography/landscapephotography446.jpg');


}
	
.about p.deux-col {
    font-size: 1.6em;
    column-count: 1;
}
p.subheader {
    font-size: 2.2em;
}
.team article p {
     font-size: 1.4em;
}
.team button {
    padding: 7px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: #e7e7e7 solid 2px;
    width: 50%;
    height: 60px;
    font-size: 2em;
}
	
.service p {
    font-family: 'Tangerine', serif;
    font-size: 2em;
 font-weight: 300;
}
	.ctabottom button {
    box-shadow: 0 0 39px -10px rgb(203, 205, 205) ;

		    width: 20%;
		padding: 20px;
}
	#work div .work-row {
    /* flex-basis: 378px; */
    flex: 1 1 40%;
    padding: 25px 0;
    padding: 5px;
    margin: 10px 0;
}
	#work h4 {
    font-size: 2em;
}
		#work p {
    font-size: 1.8em;
}
	.contact-container p.subheader {
    font-family: 'Tangerine', serif;
    font-size: 1.1em;
 
}


	.contact .left , .contact .right, address {

    font-size: 1.5em;
}
	form button {
  font-size: 1.5em;
		padding: 24px;
		width: 50%;
}
	
	
	#work div .work-row {

    margin: auto;
}
	
}








